#tela
{
 background-color: #000000;
 border-style: solid;
 border-color: #888888;
}
body
{
 background-color: #000000;

 align-items: center;
 display: flex; 
 justify-content: center;
 flex-direction: column;
}
 

.controle { 
    text-align: center;

    justify-content: start;

    
}
.botoes { 
    flex-direction: row;
}



